/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/tmp/
*.gem

Gemfile.lock

# Environment variables and tokens
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Copied gem files
/boringmetrics/README.md
/boringmetrics/LICENSE
/boringmetrics/CHANGELOG.md
/boringmetrics-rails/README.md
/boringmetrics-rails/LICENSE
/boringmetrics-rails/CHANGELOG.md
